
    <body>
        <div class="container">
            <div class="page-header">
                 @{
                    if(@ViewBag.UserId != null || @ViewBag.AdminId != null ){
                        <a href="/logout">Logout</a>
                    }
                    else {
                        <a href="/signin">Login |</a>
                        
                        <a href="/business">Business</a>
                    }
                
               
                  
                  }
                    @if(@ViewBag.AdminId != null){
                        <a href="/addmenu">Add Menu</a>
                    }
                
            </div>
            <div class="row">
                <div class="col-xs-9 col-md-7">
                        <input
                            type="hidden"
                            role="uploadcare-uploader"
                            data-multiple="true"
                            data-multiple-min="1"
                            data-multiple-max="10" />
                </div>
            </div>
           
            <div class="row">
            <div class="col-xs-9 col-md-7">
              
            </div>
            </div>
           
            <div class="row">
                <div class="col-xs-9 col-md-7">
                  
                        @if(@ViewBag.UserId != null){
                            <a href="/newreview/@ViewBag.CurrentAdmin.AdminId">Leave a Review</a>
                        }
                    
                    <div class="pre-scrollable" style="max-width: 100%; max-height: 300px;">
                        @foreach(var i in @ViewBag.AllReviews){
                            <h4>@i.Name</h4>
                            <p>@i.ReviewDesc</p>
                            @if(i.UserId == @ViewBag.UserId){
                                <a href="/editreview/">Edit Review</a>
                                <a href="/delete/@i.ReviewId">Delete Review</a>
                            }
                        }
                    </div>
                </div>
            </div>
           
        
        </div>
    </body>
</html>